@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
}
footer{
    border-top: #ccc solid 1px;
    position:fixed;
    bottom: 0%;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    background: #fff;
}